/* Center logo and inject tagline under it */
.wy-side-nav-search {
    text-align: center; /* centers the pseudo-element by default */
}

/* The link element under .wy-side-nav-search becomes empty if project='' */
.wy-side-nav-search > a {
    display: block;
    text-decoration: none;
}

/* Insert only tagline with two centered lines */
/* First line */
.wy-side-nav-search > a::after {
    content: "Machine Learning";
    display: block;
    font-size: 0.85em;
    margin-top: 0.3em;
    color: black;
    font-style: normal;
    text-align: center;
}

/* Second line */
.wy-side-nav-search > a::before {
    content: "for Astronomical Discovery";
    display: block;
    font-size: 0.85em;
    margin-top: 1.2em; /* adjust to match spacing under logo */
    color: black;
    font-style: normal;
    text-align: center;
}
